<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FontAwesome.Sharp" version="5.15.3" targetFramework="net48" />
  <package id="log4net" version="2.0.13" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="UI.for.WinForms.Common" version="2021.3.914" targetFramework="net48" />
  <package id="Unity" version="5.11.10" targetFramework="net48" />
</packages>